
NODE_ENV=development

PORT=3000

HOST=localhost

MONGO_URI=

JWT_SECRET=JWT_SECRET
JWT_EXPIRES_IN=15m

CLIENT_URL=http://localhost:3000


JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
API_URL=http://localhost:5000
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM="E-commerce <no-reply@shop.com>"